[workspace]
members = [
    "bencher",
    "harness",
    "test-program",
]
resolver = "2"

[workspace.dependencies]
bincode = "1.3.3"
num-format = "0.4.4"
serde_json = "1.0.117"
solana-bpf-loader-program = "1.18.14"
solana-program = "1.18.14"
solana-program-runtime = "1.18.14"
solana-system-program = "1.18.14"
solana-sdk = "1.18.14"
