name: Backport to solana-v1.18

on:
  push:
    branches: [main]

jobs:
  backport:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4
      
      - name: Debug Permissions
        run: gh auth status
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Backport to v1.18
        uses: ./.github/actions/backport
        with:
          label: v1.18
          base_branch: solana-v1.18
          github_token: ${{ secrets.GITHUB_TOKEN }}
